<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Om EXPRESS</h2>
            <p>EXPRESS startades 2008, som ett alternativ till våra egenutvecklade produkter, vår mission är att erbjuda mindre
                och medelstora kedjor ett funktionsrikt standardsystem och genom vårt moderbolag Extenda AB tar vi med oss
                &gt;30 år utav erfarenhet ifrån fackhandeln, genom att använda standardprodukter ifrån Microsoft så ser vi
                till att kunden får den mest effektiva & framtidssäkrade lösningen för deras sina behov, liten som stor.</p>
            <p>Extenda Express är ett affärsområde inom Extenda AB. Extenda Express riktar sig mot SMB (Small Medium Business)
                marknaden i norden.</p>
            <h2>OM EXTENDA</h2>
            <p>Extenda grundades 1982, drivet av affärsidén av att utveckla mjukvara som styr POS-terminaler och integreration
                mot centraliserade affärssystem. Från början var Extenda underleverantör till Nokia och utvecklade programvara
                för ett antal av deras nyckelkunder. <br/><br/>
                1995 släppte Extenda en egen hårdvaruoberoende produktlinje, den första
                generationen av Extenda Retail. Med detaljhandelkunskap och en produkt baserad på öppna standarder, vann
                Extenda snabbt en betydande marknadsandel. <br/><br/>
                Redan 1998 valdes Extenda av ICA att leverera POS-programvara
                som ska användas över flera hårdvaruplattformar. Extenda har fortsatt att fokusera på uppdraget att kombinera
                djup detaljhandelkunskap med öppenhet och i dag är vi huvudleverantör till flera stora globala kedjeföretag.
            </p>
        </div>
    </div>
</section>