<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Kontakta oss</h2>
      <p>Extenda AB<br/>
      <i class="fa fa-map-o"></i>Gamlestadsvägen 2-4, B22, 415 02 GÖTEBORG<br/>
      Adolf Fredriks Kyrkogata 2, 111 13 STOCKHOLM<br/>
      Tel: <a href="tel:+46850537000">+46 (0)8 505 370 00</a>
      </p>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
      <h2>FÖRSÄLJNING</h2>
      <p>Fredrik Gustafsson<br/>
      <i class="fa fa-envelope-o"></i> <a href="mailto:fredrik.gustafsson@extenda.se">fredrik.gustafsson@extenda.se</a><br/><i class="fa fa-phone"></i><a href="tel:+46738002738">+46 (0)738 00 27 38</a>
      <p>Peter Larsson<br/>
      <i class="fa fa-envelope-o"></i> <a href="mailto:peter.larsson@extenda.se">peter.larssson@extenda.se</a><br/><i class="fa fa-phone"></i><a href="tel:+46705473588">+46 (0)705 47 35 88</a>
    </div>
    <div class="col-lg-4 col-lg-offset-0">
      <h2>SUPPORT</h2>
      
      <p>Måndag-Fredag 9.00–20.00<br/>Lördag och helgdagar 10.00-18.00<br/><i class="fa fa-envelope-o"></i> <a href="mailto:express@extenda.se">express@extenda.se</a><br/><i class="fa fa-phone"></i><a href="tel:+46313000271">+46 (0)31 30 00 271</a></p>
      
      
    </div>
  </div>
</section>
