<!-- customers Section -->
<section id="customers" class="content-section text-center">
  <div class="customers-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="color: #000;">Några utav våra <i class="fa fa-heart heart"></i> Kunder</h2>
        <div class="card card-block customers-card">
        
        
        <img class="customer-logo grow" src="img/cust_efvaattling.png"></img>
        <img class="customer-logo grow" src="img/cust_hestra.png"></img>
        <img class="customer-logo grow" src="img/cust_hollandbarrett.png"></img>
        <br/>
        <img class="customer-logo grow" src="img/cust_gottebiten.png"></img>
        <img class="customer-logo grow" src="img/cust_lyko.png"></img>
        <img class="customer-logo grow" src="img/cust_myrorna.png"></img>
        <br/>
        <img class="customer-logo grow" src="img/cust_smm.png"></img>
        <img class="customer-logo grow" src="img/cust_swedavia.png"></img>
        <img class="customer-logo grow" src="img/cust_swedishmatch.png"></img>
        <br/>
        <img class="customer-logo grow" src="img/cust_suab.png"></img>
        <img class="customer-logo grow" src="img/cust_yves.png"></img>
        <img class="customer-logo grow" src="img/cust_lager157.png"></img>
        <br/>
          </div>
      </div>
    </div>
  </div>
</section>
