<!-- Products Section -->
<section id="products" class="content-section text-center">
  <div class="products-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Produkter</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card card-block product-card">
              </i><h3 class="rms-product-title"><i class="fa fa-paper-plane"></i> RMS</h3>
              <p class="card-text">Öka Er tillväxt, effektivisera verksamheten och förbättra kundservicen. Microsoft Dynamics Retail Management System (RMS) erbjuder små och medelstora återförsäljare en komplett försäljnings (POS) lösning som kan anpassas för att möta unika behov. Detta kraftfulla programpaket automatiserar POS processer och butiksdriften, ger centraliserad kontroll för kedjor, och integreras med Microsoft Office- program , Microsoft Dynamics GP och andra populära applikationer
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card card-block product-card">
              <h3 class="ax-product-title"> <i class="fa fa-cubes"></i> Dynamics AX</h3>
              <p class="card-text">Microsoft Dynamics för detaljhandeln är en modern, enhetlig lösning för detaljhandeln som minskar komplexiteten för återförsäljare så att de får mer tid att fokusera på kunderna och att öka företagets närvaro i alla kanaler.<br/> <br/> 
              Lösningen hjälper organisationer att erbjuda en komplett shoppingupplevelse som är personlig, smidig och unik.

              </p>
              <a href="https://www.microsoft.com/sv-se/dynamics/retail.aspx" class="btn btn-default btn-lg" target="_new" >Läs mer hos Microsoft</a>
            </div>
          </div>
        </div><!-- /row -->
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</section>
