<!-- Products Section -->
<section id="products" class="content-section text-center">
  <div class="products-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Produkter</h2>
        <div class="row">
          <div class="col-xs-24 col-sm-12">
            <div class="card card-block product-card">
              </i><h3 class="rms-product-title"><i class="fa fa-paper-plane"></i>Extenda Express 3.0</h3>
              <h4>Ny design</h4>
              <p class="card-text">
                  Butiksdatasystemet är skapat för detaljhandeln - och designades 100% med detta i åtanke. 
                  Det grafiska användargränssnittet är anpassat för pekskärm men går lika bra att köra med standard eller specialtangentbord. 
                  Gränssnittet är anpassningsbart för att passa varje kund.
              </p>
              <h4>Kraftfulla och lättlästa rapporter</h4>
              <p class="card-text">
                Det kraftfulla inbyggda rapportverktyget som är inbyggt i Extenda Express 3.0 gör det enkelt att få dina dagliga överblicksbara butiksrapporter, 
                för en överblick över ditt lager, realtidsförsäljningsdata och kundtransaktioner m.m.  Detta kommer att hjälpa dig att fatta välgrundade affärsbeslut. 
                Du har också möjlighet att skapa och anpassa dina egna rapporter
              <p/>
              <h4>Förändringsbar, anpassningsbar, skalbar</h4>
              <p class="card-text">
                Extenda Express 3.0 är byggd för att möjliggöra integrationer mot tredjeparts och applikationer och tjänster. 
                Detta gör det möjligt att enkelt att anpassa systemet till just ditt företag - nu och i framtiden.
                </p>
              <h4>Betalningsprocesser</h4>
              <p class="card-text">
                Extenda Express 3.0 kommer med färdiga betalningslösningar som är klara att använda. Kontokortsintegrationer mot de flesta betalkortsleverantörer som finns på den Svenska marknaden, elektroniska presentkort, inbyggd funktionalitet för hantera egna presentkort, valutahantering, direktfakturering m.m.
              </p>
              <h4>Liten som stor</h4>
              <p class="card-text">
                Extenda Express 3.0 har huvudkontorsfunktionalitet där du från ett ställe kan förse butikerna med artikelinformation, kampanjer m.m
                Kontakta oss idag för mer information om hur vi kan hjälpa dig att implementera Extenda Express 3.0 och ta ditt företag in i framtiden!
              </p>
              <p><a href="#contact" class="btn btn-default btn-lg page-scroll">Kontakta oss för mer information</a></p>
              <br/>
            </div>
          </div>
        </div>
        <br/>
        
        <!-- RR Essentials -->
<div class="row">
          <div class="col-xs-24 col-sm-12">
            <div class="card card-block product-card">
              </i><h3 class="ax-product-title"><i class="fa fa-cubes"></i>Microsoft&copy; Dynamics AX&trade;</h3>
              <h4>Retail Realm Essentials</h4>
              <p class="card-text">
                  Är ett system för detaljhandlare som kommit en bit i sin expansion, hanterar både butiks- och huvudkontorsfunktioner.
              </p>
              <h4>Microsoft&copy; Dynamics AX&trade;</h4>
              <p class="card-text">
                Lösningen är baserad på Microsoft Dynamics AX plattform som stödjer flera företag, kanaler och geografiska områden.
              <p/>
              <h4>Förändringsbar, anpassningsbar, skalbar</h4>
              <p class="card-text">
                Lösningen kan skalas upp och bli fullt Microsoft Dynamics AX, Realm Realm Essentials är en lösning som är mycket flexibel och anpassningsbar och är väl lämpad för en mängd olika detaljhandelssegment.
                </p>
                
                <p><a href="#contact" class="btn btn-default btn-lg page-scroll">Kontakta oss för mer information</a></p>
              <br/>
            </div>
          </div>
        </div>        
        
        
        
        
          
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</section>
