<!-- Services Section -->
<section id="services" class="content-section text-center">
  <div class="services-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Tjänster</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="card card-block services-card">
              </i><h3 class="installation-service-title"><i class="fa fa-plug"></i> Installation</h3>
              <p class="card-text">
              Våra duktiga installationstekniker kan hjälpa till att installera systemet på plats, för en smidig och trygg driftsättning
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card card-block services-card">
              <h3 class="support-service-title"> <i class="fa fa-comments"></i> Support</h3>
              <p class="card-text">
              Vår support finns där för Er, beroende på behov kan vi erbjuda olika servicenivåer för att passa Er verksamhet

              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card card-block services-card">
              </i><h3 class="education-service-title"><i class="fa fa-institution"></i> Utbildning</h3>
              <p class="card-text">
              I samband med installation, så kan våra tekniker även utbilda Er personal, vi erbjuder även utbildning efter installationen skett, antingen i någon utav våra lokaler eller på plats hos Er
              </p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="card card-block services-card">
              </i><h3 class="development-service-title"><i class="fa fa-code"></i> Kundanpassning</h3>
              <p class="card-text">
              Vi utför kundunik utveckling efter önskemål, våra utvecklare har mångårig erfarenhet utav utveckling inom handel, och vi har gjort åtskilliga integrationer emot redan befintliga system hos våra kunder  
              </p>
            </div>
          </div>
        </div><!-- /row -->
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</section>
