<!-- Support Section -->
<section id="support" class="content-section text-center">
  <div class="support-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="color: #000;">Support</h2>
        <div class="card card-block support-card"><br/>
          <h4>Personligt <i class="fa fa-smile-o"></i></h4>
          <p>
            När du ringer till Extenda Express supporten får du alltid prata med en tekniker som hjälper dig direkt.
          </p>
          <h4>Där för dig <i class="fa fa-support"></i></h4>
          <p>
            Supporten är öppen alla dagar om året, Måndag-Fredag 9.00 – 20.00 Lördag och helgdagar 10.00-18.00<br/>
            Supporten använder sig av fjärrstyrningsmjukvara och kan ta över din dator för enklare felsökning.<br/>
             Om du har behov av support utöver dessa tider har vi även lösningar för detta, tillfälliga eller permanenta. </p>

          <h4>Hjälp dig själv <i class="fa fa-check" aria-hidden="true"></i></h4>
          <p>
            Innan du kontaktar supporten tänk på detta:<br/> Har du startat om datorn?<br/> - Om inte gör detta, många av
            felen kan lösas med en enkel omstart. <br/><br/> Fungerar din internetanslutning? <br/>Pröva genom att öppna
            en webläsare och gå till en internetsida tex. http://www.sunet.se<br/><br/> Sitter alla kablar i som de ska?
            Lyser alla lampor som dom ska på tex. kvittoskrivare, dator, bildskärm? <br/><br/>Är felet knutet till en dator
            eller är det samma fel på alla/flera datorer? <br/><br/>
            
            <h4>Kontakt</h4>
            <p>
            För att komma i kontakt med supporten ring eller skicka
            ett e-post meddelande: <br/><br/>
            <i class="fa fa-phone"></i> <a href="tel:+46313000271">031 - 3000 271</a><br/>
            <i class="fa fa-envelope-o"></i> <a href="mailto:express@extenda.se">express@extenda.se</a>
            
            <br/>
            <br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>